@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Condensed:wght@200;300;400;600;700&family=Merienda:wght@300;400;500;600;700&family=Noto+Serif:wght@100;200;300;400;600&family=Playfair+Display:wght@400;500;600;700;800&family=Poppins:wght@400;500;600;700;800&family=Roboto+Condensed:wght@100;200;300;400;500;600;700;800&display=swap");

* {
  font-family: "Bangers", cursive;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: black;
}

body {
  background: url("assets//photo-1612036782180-6f0b6cd846fe.avif") no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
  margin: 20px auto;
  height: auto;
  width: 90%;
}

.navigation {
  display: flex;
  justify-content: end;
  justify-items: center;
}

a {
  text-decoration: none;
}
