$marvel-color: #B11313;
$gray-color: rgb(161, 161, 161);
$white-second-color: rgba(255, 255, 255, 0.67);
$black-color: #000;
$white-color: #fff;
$yellow-second-color: rgb(255, 240, 33);
$transform-offset: -2px;
$transition-duration: 1s;
$transition-timing-function: linear;
$transform-loader-offset: -50%;
$animation-transition:2s linear infinite;